:root {
  font-size: 62.5%;
  --primary-color: #28a745;
  --secondary-color: #0284d0;
  --light-color: #f5f5f1;
  --dark-color: #221f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: var(--light-color);
  color: var(--dark-color);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
}

h1.logo{
  font-weight: 500;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.3;
}

p {
  margin: 1rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0.8;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  padding: 0 3rem;
  font-size: 1.6rem;
}

.navbar.top{
  background: transparent;
}

#navbar ul {
  display: flex;
}

#navbar a {
  color: var(--light-color);
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 .5rem;
}

#navbar a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position:relative;
  color:var(--light-color);
}

.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  color: var(--light-color);
}

.content h1{
  font-size: 5.5rem;
}

.content p{
  font-size: 2.3rem;
  max-width: 60rem;
  margin: 2rem 0 3rem;
}

.hero::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 1;
}

.hero.blog {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}

.icons i {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 900;
}

.icons h3{
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.grid-items > div {
  padding: 1rem;
}

.flex-columns img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-2{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: flex-start;
  justify-content: center;
}

.flex-columns h2{
  font-size: 4rem;
  font-weight: 200;
}

.flex-columns h3{
  font-size: 2.5rem;
  font-weight: 200;
}

.flex-columns p {
  padding: 2rem 0;
}

.cases img {
  width: 100%;
}

.cases img:hover {
  opacity: 0.7;
}

/* Team Section */
.grid-items > div {
  padding: 2rem;
}

.team img {
  border-radius: 50%;
}

h2.our-work {
  font-size: 4rem;
  margin: 2rem 0;
}

.flex-items > div {
  padding: 2rem;
}

/* Callback Form */
.callback-form {
  width: 100%;
  padding: 2rem 0;
}

.callback-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.callback-form .form-control {
  margin-bottom: 1.5rem;
}

.callback-form input {
  width: 100%;
  padding: 0.4rem;
  height: 40px;
  border: 1px solid var(--dark-color);
}

.callback-form input:focus {
  outline: var(--primary-color);
}

.callback-form .btn {
  margin-top: 2rem;
  padding: 1.2rem 0;
  font-size: 1.6rem;
}

/* Post */

.post {
  padding: 5rem 3rem;
}

.post h2{
  font-size: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--light-color);
}

.post .meta {
  margin-bottom: 3rem;
}

.post img {
  width: 30rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 3rem;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20rem;
  font-size: 2rem;
}

.footer a {
  color:var(--light-color);
}

.footer a:hover {
  color: var(--primary-color);
}

footer .social > * {
  margin-right: 3rem;
}

/* Media Queries */

@media(max-width: 768px) {
  .navbar{
    flex-direction: column;
    height: 12rem;
    padding: 2rem;
    margin: 0 0.3rem;
  }

  .grid-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .flex-columns .column, .flex-grid .column{
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .grid-items {
    grid-template-columns: repeat(2, 1fr);
  }
}