:root {
  --primary-text-color: #28a745;
  --secondary-text-color: #0284d0;
  --dark-color: #221f1f;
  --light-color: #f5f5f1;
}

/* Text Colors */
.text-primary {
  color: var(--primary-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.pointer {
  cursor: pointer;
}

/* Button */
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--dark-color);
  color: var(--light-color);
}

.btn:hover {
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.btn-primary, .bg-primary {
  background-color: var(--primary-text-color);
  color: var(--light-color);
  outline: none;
}

.btn-secondary, .bg-secondary {
  background-color: var(--secondary-text-color);
  color: var(--light-color);
  outline: none;
}

.btn-dark, .bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
  outline: none;
}

.btn-light, .bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  outline: none;
}

.btn-outline {
  background-color: transparent;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  outline: none;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/* Flex Columns */
.flex-columns .row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-reverse .row{
  flex-direction: row-reverse;
}

/* Section */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3rem;
}

.section-padding {
  padding: 2rem 2rem 4rem;
}

/* Flex Grid */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.4rem;
}

.flex-grid .column {
  max-width: 25%;
  flex: 25%;
  padding:0 0.4rem;
}

/* Team */

.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}